.triangle-top[data-v-6531b857]:before,
.triangle-bottom[data-v-6531b857]:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-color: var(--color-gray-900);
  position: absolute;
  z-index: -1;
  transform: translate(-50%);
  transform: rotate(45deg) translateY(25%) translate(-50%);
}
.triangle-bottom[data-v-6531b857]:before {
  top: 90%;
  left: 50%;
}
.triangle-top[data-v-6531b857]:before {
  top: -5%;
  left: 50%;
}
