.calendar-none[data-v-a81f8e25]::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: auto;
  z-index: 1;
}
