@import "./assets/fonts/Inter/Inter.css";
@import "./assets/fonts/MaterialSymbols/MaterialSymbols.css";
@import "tailwindcss";
@theme {
  /* Base Colors */
  --color-white: #fff;

  /* Primary */
  --color-primary-hover: #1a255f;
  --color-primary-500: #2b3a8a;
  --color-primary-400: #5360a1;
  --color-primary-300: #7c85b8;
  --color-primary-200: #b8beda;
  --color-primary-100: #cdd0e5;

  /* Secondary */
  --color-secondary: #adbc13;
  --color-secondary-400: #bdc942;
  --color-secondary-300: #ced771;
  --color-secondary-200: #e6ebb8;

  /* Success */
  --color-success-400: #107b2e;
  --color-success-100: #6fc487;

  /* Gray */
  --color-gray: #32333a;
  --color-gray-700: #2a2d3c;
  --color-gray-600: #4f5059;
  --color-gray-500: #727793;
  --color-gray-400: #989bb1;
  --color-gray-300: #b9bbc9;
  --color-gray-200: #cacdda;
  --color-gray-200: #e2e3eb;
  --color-gray-hover: #cfd0d3;

  /* Error */
  --color-error-hover: #810c0c;
  --color-error-300: #ae1212;
  --color-error-200: #bd383b;
  --color-error-100: #cd6363;
  --color-error-secondaryHover: #e9caca;

  /* Warning */
  --color-warning-hover: #9b3312;
  --color-warning-100: #b64421;
  --color-warning-200: #fdc32e;

  /* Temporary Colors */
  --color-table-line: #e0e0e0;

  /* Fonts */
  --font-inter: Inter, sans-serif;
  --font-sans: Inter, sans-serif;
}
